#
#          ██   ██
#   █████ ░░   ░██
#  ██░░░██ ██ ██████
# ░██  ░██░██░░░██░
# ░░██████░██  ░██
#  ░░░░░██░██  ░██
#   █████ ░██  ░░██
#  ░░░░░  ░░    ░░
#
[hub]
        protocol = https

[user]
        name = Tobias Nett
        email = skaldarnar@googlemail.com

[credential]
        helper = cache --timeout 3600

[alias]
        graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
        unstage = reset HEAD --

[color]
        diff = auto
        status = auto
        branch = auto
        ui = true

[core]
        excludesfile = ~/.gitignore
        editor = vim
	autocrlf = input

[apply]
        whitespace = nowarn

[mergetool]
        keepBackup = false

[difftool]
        prompt = false

[help]
        autocorrect = 1

[push]
        default = matching
