#
#          ██   ██
#   █████ ░░   ░██
#  ██░░░██ ██ ██████
# ░██  ░██░██░░░██░
# ░░██████░██  ░██
#  ░░░░░██░██  ░██
#   █████ ░██  ░░██
#  ░░░░░  ░░    ░░
#
[hub]
        protocol = https

[user]
        name = GIT_AUTHOR
        email = GIT_EMAIL

[credential]
        helper = cache --timeout 3600

[alias]
        unstage = reset HEAD --
        graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
        tree = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
        hist = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        passport = !${HOME}/.git/hooks/bin/git-passport/git-passport.py

[init]
    templatedir = ~/.git/templates

[color]
        diff = auto
        status = auto
        branch = auto
        ui = true

[core]
        excludesfile = ~/.gitignore
        editor = vim

[apply]
        whitespace = nowarn

[mergetool]
        keepBackup = false

[difftool]
        prompt = false

[help]
        autocorrect = 1

[push]
        default = matching
